.about-parent {
    animation: fade-page .8s ease-in;
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 200px;
    height: auto;
    background-color: white;
    position: absolute;
}
.about-content {
    width: 65%;
    margin: auto;
}
.about-content h1 {
    margin-top: 10%;
    font-size: 3rem;
}
.about-content .desc {
    display: flex;
    column-gap: 50px;
    margin-bottom: 8%;
}
.desc .profile-img {
    width: 20vw;
    height: 20vw;
    align-self: center;
}
.desc .desc-content {
    align-self: center;
}
.desc .contact {
    margin-top: 5%;
    padding-bottom: 2%;
    display: flex;
    column-gap: 20px;
}
.desc .contact > * {
    transition: 0.5s;
    color: black;
    opacity: 1;
    font-size: 1.25rem;
}
.desc .contact:hover > * {
    transition: 0.5s;
    color: grey;
}
.desc .contact a:hover {
    transition: 0.5s;
    opacity: 1;
    color: black;
}

@media only screen and (max-width: 1000px) {
    .about-content h1 {
        margin-top: 20%;
    }
    .about-content .desc {
        display: block;
    }
    .desc .profile-img {
        width: 100%;
        height: 100%;
        align-self: center;
        text-align: center;
    }
}