html {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100vh;
}
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}
.home-content {
    animation: fade-page 1s ease-in;
}

/* Jumbotron */
/* .jumbotron {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    background: url('../img/main-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center; 
}
.jumbotron-content { 
    width: 85%;
    margin: auto;
} */
.logo-container {
    width: 85%;
    margin: auto;
    background-color: white;
    height: fit-content;
}
.logo {
    position: fixed;
    z-index: 99;
}
.intro {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.intro h3 { 
    font-size: 4.5rem;
    line-height: 0rem;
    margin: 0;
    padding: 0;
}
.intro h1 {
    font-size: 5.125rem;
    line-height: 25px;
    font-weight: 400;
}
.intro span {
    font-weight: bold;
}
.intro p {
    font-size: 2.25rem;
    line-height: 0;
}
.my-work-btn {
    text-decoration: none;
}
.my-work-btn p{
    transition: .8s;
    font-size: 1.125rem ;
    font-weight: bold;
    color: white;
    width: fit-content;
    height: fit-content;
    background-color: var(--black-1);
    padding: 20px;
}
.my-work-btn p:hover {
    transition: .8s;
    transform: translateY(-2px);
    opacity: .9;
}

/* Selected Work */
.image-work {
    position: fixed;
    width: 120vw;
    opacity: .25;
    z-index: -1;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    opacity: .2;
}
.selected-work-container {
    position: absolute;
    overflow-y: auto;
    height: 30%;
    margin: auto;
    top: 30%;
    width: 100%;
}
.selected-work-container .detail-link {
    text-decoration: none;
}
.selected-work-container .work-list {
    transition: 0.8s;
    margin-left: 7.5%;
    cursor: pointer;
    color: white;
    opacity: .1;
}
.selected-work-container .current {
    transition: 0.8s;
    opacity: 1;
}
.selected-work-container::-webkit-scrollbar {
    width: 0px;
  }